* {
	box-sizing: border-box;
}

/* Hover for development only */
/*.container {
	background: url(../12_col.gif) center top repeat-y;
	background-size:90%;
}*/

.container {
	color: #333;
  	width: 640px;
  	margin: 20px auto;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
	display: block;
	float:left;
	margin: 0px 1.04% 20px 1.04%;
}

.inner [class*="col-"] {
	display: block;
	float:left;
	margin: 0 2.127659574% 20px 0;
}

.inner [class*="col-"]:last-child {
	display: block;
	float:left;
	margin: 0 0% 20px 0;
}

.inner .col-1 {width: 6.382978723404255%;}
.inner .col-2 {width: 14.893617021276595%;}
.inner .col-3 {width: 23.404255319148934%;}
.inner .col-4 {width: 31.914893617021278%;}
.inner .col-5 {width: 40.42553191489362%;}
.inner .col-6 {width: 48.93617021276595%;}
.inner .col-7 {width: 57.44680851063829%;}
.inner .col-8 {width: 65.95744680851064%;}
.inner .col-9 {width: 74.46808510638297%;}
.inner .col-10 {width: 82.97872340425532%;}
.inner .col-11 {width: 91.48936170212765%;}
.inner .col-12 {width: 100%;}



.col-1 {width: 6.25%;}
.col-2 {width: 14.583333333%;}
.col-3 {width: 22.916666666%;}
.col-4 {width: 31.249999999%;}
.col-5 {width: 39.583333332%;}
.col-6 {width: 47.916666665%;}
.col-7 {width: 56.249999998%;}
.col-8 {width: 64.583333331%;}
.col-9 {width: 72.916666664%;}
.col-10 {width: 81.249999997%;}
.col-11 {width: 89.58333333%;}
.col-12 {width: 97.916666663%;}

/*
.col-1 {width: 6.86%;}
.col-2 {width: 15.33%;}
.col-3 {width: 23.8%;}
.col-4 {width: 32.26%;}
.col-5 {width: 40.73%;}
.col-6 {width: 49.2%;}
.col-7 {width: 57.66%;}
.col-8 {width: 66.13%;}
.col-9 {width: 74.6%;}
.col-10 {width: 83.06%;}
.col-11 {width: 91.53%;}
.col-12 {width: 100%;}
*/

@media only screen and (max-width: 640px) {
	.container:hover {
		background-size:90%;
	}

	.container {
		width:90%;
	}

	[class*="col-"] {
		width: 97.916666663%;
	}
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}
